body{
    background-color: #DBE9EE;
}

.header{
    border: 3px solid #275a97;
    background-color: #466995;
    border-radius: 16px;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    column-gap: 15px;
}
.header-home-button{
    height: 70px;
    width: 70px;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    transition-property: all;
    transition-duration: 1500ms;
    box-sizing: border-box;
    grid-row: 1 / 3;
}
.header-home-button:hover{
    rotate: 360deg;
}
.header h1{
    font-family: 'Open-Sans', sans-serif;
    font-size: 40px;
    color: #e6f1fe;
    margin: 10px 0 5px 10px;
    padding: 0;
    box-sizing: border-box;
}
.header p{
    font-family: 'Open-Sans', sans-serif;
    font-size: 20px;
    margin: 0 0 20px 10px;
    color: #e6f1fed7;
}

.notes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.notes-card{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px 0;
    width: 750px;
    max-width: 100%;
    height: 200px;
    align-items: start;
    gap: 10px;
    background-color: #466995;
    border-radius: 16px;
}
.notes-card img{
    grid-row: 1 / 3;
    align-self: center;
    margin: 0 0 0 10px;
    border-radius: 16px;
}
.notes-card h3{
    font-size: 30px;
    font-family: 'Open-Sans', sans-serif;
    color: #e6f1fe;
    margin: 20px 0 0 0;
}
.notes-card h4{
    grid-column: 2 / 4;
    margin: 0;
    font-size: 18px;
    font-family: 'Open-Sans', sans-serif;
    color: #e6f1fe;
}
.notes-card p{
    justify-self: end;
    font-size: 20px;
    margin: 20px 10px 0 0;
    font-family: 'Open-Sans' sans-serif;
    color: #e6f1fe;
}
.notes-page-nav{
    display: flex;
    background-color: #466995;
    border: 2px solid #275a97;
    border-radius: 8px;
    align-items: center;
    width: 160px;
    max-width: 100%;
    justify-content: space-between;
}
.notes-page-nav a{
    font-size: 50px;
    text-decoration: none;
    color: #e6f1fe;
    border-radius: 8px;
    width: 40px;
    text-align: center;
    transition-duration: 300ms;
}
.notes-page-nav a:hover{
    background-color: #e6f1fecb;
    color: #0e315d;
}
.notes-page-nav p{
    font-size: 40px;
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
    color: #e6f1fe;
}

@media (max-width: 450px){
    .notes-card img{
        display: none;
    }
    .notes-card h3{
        grid-column: 1 / 3;
    }
    .notes-card h4{
        grid-column: 1 / 4;
    }
}
@media (max-width: 325px){
    .notes-card{
        background-color: #DBE9EE;
        border-top: solid 2px #0e315d;
    }
    .notes-card h3{
        color: #0e315d;
        font-size: 25px;
    }
    .notes-card h4{
        color: #0e315d;
        font-size: 14px;
    }
    .notes-card p{
        color: #0e315d;
        font-size: 18px;
    }
    .header h1{
        font-size: 16px;
    }
    .header p{
        font-size: 12px;
    }
}
