body{
    background-color: #dbe9ee;

}
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
:root{
    --norFontColor: #324c6d;
    --backFontColor: #FFF;
    --cardBackgroundColor: #365986;
    --cardBorderColor: #275a97;
}

.nav-hidden-menu{
    width: 70%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: var(--cardBackgroundColor);
    border: 3px solid var(--cardBorderColor);
    border-radius: 0 16px 0 0;
    display: none;
    flex-direction: column;
    padding: 10px;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-300px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.nav-hidden-menu-JS-open-fun{
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
.nav-hidden-menu > a{
    color: var(--backFontColor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 5px 0;
    transition: opacity 150ms ease-in-out;
}
.nav-hidden-menu > a:focus,
.nav-hidden-menu > button:focus{
    opacity: 0.5;
}
.nav-hidden-menu > a[lang]{
    width: fit-content;
    border: 2px solid var(--backFontColor);
    border-radius: 8px;
    letter-spacing: normal;
    padding: 0 5px 10px 5px;
    text-align: center;
    margin-top: 10px;
}
.nav-hidden-menu > button{
    border: none;
    background-color: transparent;
    text-align: start;
    margin: 10px 0;
    transition: opacity 150ms ease-in-out;
    width: 50px;
}
.nav-hidden-menu > button > img{
    max-width: 50px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
nav > div > a{
    color: var(--norFontColor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    margin: 0 10px;
    transition: opacity 150ms ease-in-out;
}
nav > div > button{
    border: none;
    background-color: transparent;
    display: none;
    margin-top: 20px;
    transition: opacity 150ms ease-in-out;
}
nav > div > button > img{
    max-width: 50px;
}
.nav-langButton{
    color: var(--norFontColor);
    font-size: 28px;
    text-decoration: none;
    border: 2px solid #324c6d;
    border-radius: 8px;
    padding: 0 10px 5px 10px;
    margin-right: 10px;
    transition: opacity 150ms;
}
.nav-langButton:hover,
nav > div > a:hover,
nav > div > button:hover{
    opacity: 0.5;
}

.notes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.notes-card{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px 0;
    width: 750px;
    max-width: 100%;
    height: 200px;
    align-items: start;
    gap: 10px;
    background-color: var(--cardBackgroundColor);
    border-radius: 16px;
}
.notes-card img{
    grid-row: 1 / 3;
    align-self: center;
    margin: 0 0 0 10px;
    border-radius: 16px;
}
.notes-card h3{
    font-size: 30px;
    color: var(--backFontColor);
    margin: 20px 0 0 0;
}
.notes-card h4{
    grid-column: 2 / 4;
    margin: 0;
    font-size: 18px;
    color: var(--backFontColor);
}
.notes-card p{
    justify-self: end;
    font-size: 20px;
    margin: 20px 10px 0 0;
    color: var(--backFontColor);
}
.notes-page-nav{
    display: flex;
    background-color: var(--cardBackgroundColor);
    border: 2px solid var(--cardBorderColor);
    border-radius: 8px;
    align-items: center;
    width: 160px;
    max-width: 100%;
    justify-content: space-between;
}
.notes-page-nav a{
    font-size: 50px;
    text-decoration: none;
    color: #e6f1fe;
    border-radius: 8px;
    width: 40px;
    text-align: center;
    transition-duration: 300ms;
}
.notes-page-nav a:hover{
    background-color: #e6f1fecb;
    color: #0e315d;
}
.notes-page-nav p{
    font-size: 40px;
    margin: 0;
    color: var(--backFontColor);
}

@media (max-width: 768px){
    body{
        margin: 0;
    }
    nav > div > a{
        display: none;
    }
    .nav-hidden-menu{
        display: flex;
    }
    nav > div > button{
        display: flex;
    }
    .nav-langButton{
        margin-top: 20px;
    }
}
@media (max-width: 450px){
    .notes-card img{
        display: none;
    }
    .notes-card h3{
        grid-column: 1 / 3;
    }
    .notes-card h4{
        grid-column: 1 / 4;
    }
    .nav-hidden-menu{
        width: 80%;
    }
    .nav-hidden-menu > a{
        font-size: 24px;
    }
    .notes-card{
        background-color: #DBE9EE;
        border-top: solid 2px #0e315d;
    }
    .notes-card h3{
        color: #0e315d;
        font-size: 25px;
    }
    .notes-card h4{
        color: #0e315d;
        font-size: 14px;
    }
    .notes-card p{
        color: #0e315d;
        font-size: 18px;
    }
    .header h1{
        font-size: 16px;
    }
    .header p{
        font-size: 12px;
    }
    .nav-hidden-menu > a{
        font-size: 20px;
    }
}
